input.is-valid {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
  transition: all 0.3s ease-in-out;
}

input.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  transition: all 0.3s ease-in-out;
}
.bg-light {
  background-image: url("cirque_maudit.jpg");
  background-size: cover;      /* s’adapte au viewport */
  background-position: center; /* centre l’image */
  background-repeat: no-repeat;
  width: 100vw;
  
}


#formulaire {
  background: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 
}
#formulaire input, #formulaire select, #formulaire textarea{
  background: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
} 
#dataTable, #dataTable th, #dataTable td {
  background: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#gagnantsTable, #gagnantsTable th, #gagnantsTable td{
  background: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#title{
font-weight: bold;
}